<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增學生資料</title>
    <meta name="author" content="Sapphire" />
    <style>
      table,
      tr,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.5rem;
      }
      a {
        display: block;
        padding: 0.5rem 0rem;
      }
    </style>
  </head>
  <body>
    <h1>成功新增學生</h1>
    <p>以下為成功新增的資料：</p>
    <table>
      <tr>
        <td>學生 ID</td>
        <td><%= savedStudent._id %></td>
      </tr>
      <tr>
        <td>名稱</td>
        <td><%= savedStudent.name %></td>
      </tr>
      <tr>
        <td>年齡</td>
        <td><%= savedStudent.age %></td>
      </tr>
      <tr>
        <td>主修</td>
        <td><%= savedStudent.major %></td>
      </tr>
      <tr>
        <td>merit 獎學金</td>
        <td><%= savedStudent.scholarship.merit %></td>
      </tr>
      <tr>
        <td>other 獎學金</td>
        <td><%= savedStudent.scholarship.other %></td>
      </tr>
    </table>
    <a href="/students/">回到首頁</a>
  </body>
</html>
